html, body {
	font-size: 16px;
	font-family: 'MuseoSansCyrl', sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
}

.section {
	width: 980rem / @hfs;
	margin: 0 auto;

	h2 {
		margin: 0;
		
		line-height: 141rem / @hfs;
		font-size: 36em / @hfs;
		font-weight: 100;
		color: #393939;
		text-align: center;
	}

	p {
		font-weight: 300;
		font-size: 18em / @hfs;
		line-height: 25 / 18;
	}

	&.section-gray {
		width: 100%;

		border-top: 1px solid @clr-mid-gray;
		border-bottom: 1px solid @clr-mid-gray;

		background: @clr-light-gray;

		.section-gray-cont {
			width: 980rem / @hfs;
			margin: 0 auto;
		}
	}
}