@hfs: 16;
@footerHeight: 142rem / @hfs;

.transition(@elem: all, @duration: .5s, @effect: ease) {
	transition: @elem @duration @effect;
}

.box-sizing(@val: border-box) {
	box-sizing: @val;
}

.list-unstyled {
	padding: 0;
	margin: 0;
	list-style: none;
}

* {
	.box-sizing;
}

a {
	.transition;
	color: inherit;
	text-decoration: none;
	outline: none;	

	&.bordered {
		border-bottom: 1px solid;

		&:hover {
			border-color: transparent;
		}
	}	
}

.no-gutter {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

// Colors
@clr-main: #1fbfac;
@clr-gray: #3a3a3a;
@clr-dGray: #333;
@clr-light-gray: #f5f5f5;
@clr-mid-gray: #ddd;