<div class="about-wrapper">
	<section class="section intro">
		<div class="container-fluid">
			<div class="row no-gutter">
				<div class="intro-left col-md-6 col-lg-6">
					<p>
						Эффективный рабочий процесс предполагает полное взаимопонимание. Мы стремимся собирать вокруг себя людей, которые вдохновляют друг друга каждый день. Каждый из нас готов учить других и учиться сам, давать честную оценку своей деятельности и брать на себя личную ответственность. Мы убеждены, что такой подход — залог качественной работы.
					</p>				
				</div>
				<div class="intro-right col-md-6 col-lg-6">
					<p>
						Сотрудники нашего агентства стремятся понять желания каждого клиента и воплотить их максимально эффективно.Проблемы клиента мы воспринимаем, как свои собственные, и предлагаем наиболее оптимальное решение. Мы всегда стремимся сделать больше, чем требуется, и открыто говорим о своих сомнениях, чтобы уверенно двигаться вперед.
					</p>				
				</div>
			</div>
		</div>		
	</section>
	<section class="section section-gray skills">
		<div class="section-gray-cont">
			<h2>Что мы умеем лучше всего</h2>
			<ul class="skills-ul clearfix">
				<li class="skills-li">
					<div class="skills-li-cont">
						<h3 class="skills-li-name">Веб-сайты и мобильные приложения</h3>
						<div class="skills-li-desc">
							Наша цель — внедрение наиболее оптимальных решений для дизайна, интерфейса и юзабилити сайтов, порталов и мобильных приложений
						</div>
					</div>
				</li>
				<li class="skills-li">
					<div class="skills-li-cont">
						<h3 class="skills-li-name">Развитие бизнеса в социальных медиа</h3>
						<div class="skills-li-desc">
							Работа с социальными медиа — ключевая часть любой рекламной кампании. Мы помогаем повысить лояльность к бренду, эффективно проинформировать ЦА и расширить присутствие бренда в сети.
						</div>
					</div>
				</li>
				<li class="skills-li">
					<div class="skills-li-cont">
						<h3 class="skills-li-name">SEO-оптимизация и Интернет-маркетинг</h3>
						<div class="skills-li-desc">
							Решаем комплексные задачи, помогающие продвижению бизнеса в онлайн-среде. Проводим анализ ситуации, разрабатываем стратегию продвижения и обеспечиваем поддержку сайтов.
						</div>
					</div>
				</li>
			</ul>
			<ul class="prods-ul row">
				<li class="prods-li col-md-6 col-lg-6">
					<div class="prod-li-pict">
						
					</div>
					<div class="prod-li-cont">
						<h4 class="prod-li-name">
							Веб-сайты
						</h4>
						<div class="prod-li-desc">
							Осуществляем разработку веб-сайтов, интерактивных платформ и интранет- систем.
						</div>
					</div>
				</li>
				<li class="prods-li col-md-6 col-lg-6">
					<div class="prod-li-pict">
						
					</div>
					<div class="prod-li-cont">
						<h4 class="prod-li-name">
							Мобильные приложения
						</h4>
						<div class="prod-li-desc">
							Проектируем, разрабатываем и продвигаем мобильные приложения под платформыiOS и Android.
						</div>
					</div>
				</li>
				<li class="prods-li col-md-6 col-lg-6">
					<div class="prod-li-pict">
						
					</div>
					<div class="prod-li-cont">
						<h4 class="prod-li-name">
							SEO-оптимизация
						</h4>
						<div class="prod-li-desc">
							Помогаем оптимизировать работу сайта и увеличить трафик. Анализ, оптимизация работы сайта, разработка стратегии SEO и поддержка на более поздних этапах ее функционирования.
						</div>
					</div>
				</li>
				<li class="prods-li col-md-6 col-lg-6">
					<div class="prod-li-pict">
						
					</div>
					<div class="prod-li-cont">
						<h4 class="prod-li-name">
							SMM
						</h4>
						<div class="prod-li-desc">
							Повышаем лояльность целевой аудитории в социальных медиа. Изучаем позиционирование историю развития бренда и поддерживаем SMM-стратегию с помощью широкого арсенала средств.
						</div>
					</div>
				</li>
				<li class="prods-li col-md-6 col-lg-6">
					<div class="prod-li-pict">
						
					</div>
					<div class="prod-li-cont">
						<h4 class="prod-li-name">
							UX-проектирование
						</h4>
						<div class="prod-li-desc">
							Разработка интерфейсов и оптимизация пользовательского взаимодействия с системой, оптимизация и структурирование компонентов.
						</div>
					</div>
				</li>
				<li class="prods-li col-md-6 col-lg-6">
					<div class="prod-li-pict">
						
					</div>
					<div class="prod-li-cont">
						<h4 class="prod-li-name">
							Поддержка и сопровождение
						</h4>
						<div class="prod-li-desc">
							Оказываем комплексную поддержку сайтов и ecommercя систем. Техническая, контентная и аналитическая поддержка.
						</div>
					</div>
				</li>
				<li class="prods-li col-md-6 col-lg-6">
					<div class="prod-li-pict">
						
					</div>
					<div class="prod-li-cont">
						<h4 class="prod-li-name">
							E-commerce
						</h4>
						<div class="prod-li-desc">
							Оптимизируем и корректируем работу сайтов, направленных на онлайн продажу товаров и услуг.
						</div>
					</div>
				</li>
				<li class="prods-li col-md-6 col-lg-6">
					<div class="prod-li-pict">
						
					</div>
					<div class="prod-li-cont">
						<h4 class="prod-li-name">
							Email маркетинг
						</h4>
						<div class="prod-li-desc">
							Осуществляем продвижение бренда и его товаров посредством электронной почты на основе исследований ЦА.
						</div>
					</div>
				</li>
				<li class="prods-li col-md-6 col-lg-6">
					<div class="prod-li-pict">
						
					</div>
					<div class="prod-li-cont">
						<h4 class="prod-li-name">
							Брендинг
						</h4>
						<div class="prod-li-desc">
							Создаем и продвигаем бренды в Интернете, разрабатывая нейминг, фирменный стиль и айдентику.
						</div>
					</div>
				</li>
				<li class="prods-li col-md-6 col-lg-6">
					<div class="prod-li-pict">
						
					</div>
					<div class="prod-li-cont">
						<h4 class="prod-li-name">
							Стратегия и креатив
						</h4>
						<div class="prod-li-desc">
							Изучаем медиа-пространство и планируем решение бизнес задач в Digital среде. Разработка комплексной стратегии онлайн-присутствия.
						</div>
					</div>
				</li>
			</ul>
		</div>		
	</section>
	<section class="section partners container-fluid">
		<h2>
			Наши партнеры
		</h2>
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<p>
					Мы гордимся нашими партнерами и проектами, которые удалось реализовать вместе. 
				</p>
				<p>
					Мы всегда открыты к сотрудничеству с другими агентствами и охотно выслушаем все предложения по совместным проектам.
				</p>
			</div>
			<div class="col-md-6 col-lg-6">
				<ul class="partners-ul">
					<li class="partners-li red-keds">
						<a href="#"></a>
					</li>
					<li class="partners-li pichesky">
						<a href="#"></a>
					</li>
					<li class="partners-li func">
						<a href="#"></a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="section section-gray clients container-fluid">
		<h2>
			Наши клиенты
		</h2>
		<ul class="clients-list">
			<li class="clients-li infinity">
				<a href="#"></a>
			</li>
			<li class="clients-li unilever">
				<a href="#"></a>
			</li>
			<li class="clients-li rutech">
				<a href="#"></a>
			</li>
			<li class="clients-li upc">
				<a href="#"></a>
			</li>
			<li class="clients-li arredamenti">
				<a href="#"></a>
			</li>
			<li class="clients-li ciml">
				<a href="#"></a>
			</li>
		</ul>
	</section>
</div>

