<div class="portfolio-wrapper container-fluid">
	<div class="project-list row no-gutter">

		<div class="col-md-3 col-lg-3">
			<div class="project-item">
				<div class="project-cover" style="background-image: url('images/projects/01.jpg')"></div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3">
			<div class="project-item">
				<div class="project-cover" style="background-image: url('images/projects/02.jpg')"></div>
			</div>
			<div class="project-item">
				<div class="project-cover" style="background-image: url('images/projects/03.jpg')"></div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3">
			<div class="project-item">
				<div class="project-cover" style="background-image: url('images/projects/04.jpg')"></div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3">
			<div class="project-item">
				<div class="project-cover" style="background-image: url('images/projects/05.jpg')"></div>
			</div>
			<div class="project-item">
				<div class="project-cover" style="background-image: url('images/projects/06.jpg')"></div>
			</div>
		</div>

		<div class="col-md-3 col-lg-3">
			<div class="project-item">
				<div class="project-cover" style="background-image: url('images/projects/07.jpg')"></div>
			</div>
			<div class="project-item">
				<div class="project-cover" style="background-image: url('images/projects/08.jpg')"></div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3">
			<div class="project-item">
				<div class="project-cover" style="background-image: url('images/projects/09.jpg')"></div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3">
			<div class="project-item">
				<div class="project-cover" style="background-image: url('images/projects/10.jpg')"></div>
			</div>
			<div class="project-item">
				<div class="project-cover" style="background-image: url('images/projects/11.jpg')"></div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3">
			<div class="project-item">
				<div class="project-cover" style="background-image: url('images/projects/12.jpg')"></div>
			</div>
		</div>

	</div>
</div>